<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    {{{styles}}}
  </head>
  <body>
    {{{html}}}
    {{{state}}}
    {{#each scripts}}
    <script lang="ts" src="{{this}}"></script>
    {{/each}}
  </body>
</html>
