<!DOCTYPE html>
<html>
  <head>
    {{#if googleTrackingId}}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{googleTrackingId}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{googleTrackingId}}');
    </script>
    {{/if}}
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    {{{styles}}}
  </head>
  <body>
    {{{html}}}
    {{{state}}}
    {{#each scripts}}
    <script lang="ts" src="{{this}}"></script>
    {{/each}}
  </body>
</html>
